body {
    padding-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #74026e;
}

/* HERO */
.hero {
    height: 70vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("../imagens/cortinas/LD_cortina01.png") center/cover no-repeat;
}

/* GALERIA */
.galeria {
    background-color: #ede1ec;
}

.galeria-img {
    width: 100%;
    height: 360px;          /* MAIS ALTA */
    object-fit: cover;

    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    cursor: pointer;
}

.galeria-img:hover {
    transform: scale(1.06);
    box-shadow: 0 18px 45px rgba(0,0,0,0.35);
}

/* CTA */
.cta {
    background-color: #f5f5f5;
}

/* FOOTER */
footer {
    background-color: #74026e;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }
}


/* HERO */
.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* Vídeo de fundo */
.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

/* Conteúdo acima do vídeo */
.hero .container {
    position: relative;
    z-index: 2;
}

/* Camada escura para melhorar leitura */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #eeecee/*(250, 249, 250, 0.925)*/;
    z-index: 1;
}



.btn-success {
    background-color: #25d366;
    border: none;
}

.btn-success:hover {
    background-color: #1ebe5d;
}

.btn-primary {
    background-color: #1ebe5d;
    border: none;
}

.btn-primary:hover {
    background-color: #1ebe5d;
}